header a{
  text-align: right;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #eee;
  text-decoration:none;
}

body {
  text-align: center;
  background-color: #1d1f20;
}
.titletext {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90%;
  font-size: 0;
  transform: translate(-50%);
}
p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #eee;
  opacity: 0.3;
}

p a{
  background:0 0;
  color:#c8c8c8;
  text-decoration:underline;
  outline: 0;
}

/* a:focus{
  outline:0;
  text-decoration:underline;
} */

p a:active, p a:hover{
  outline:dotted;
  text-decoration:none;
}

p a:hover:before, p a:hover::after {
  content:'_'
}

a img{
  border: none;
}

a img:active, a img:hover{
  border: 3px solid white;
  border-radius:25%;
}

.letter {
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #eee;
}
.letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}
.letter:nth-child(1):before {
  content: "WMDJSYCNDK";
  margin-top: -168px;
  animation-name: letter1;
  animation-duration: 3.15s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
@keyframes letter1 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(2):before {
  content: "NHSKDJALDS";
  margin-top: -168px;
  animation-name: letter2;
  animation-duration: 2.555s;
  animation-delay: 0.27s;
  animation-fill-mode: forwards;
}
@keyframes letter2 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(3):before {
  content: "OISKXLCYAS";
  margin-top: 0px;
  animation-name: letter3;
  animation-duration: 0s;
  animation-delay: 0.66s;
  animation-fill-mode: forwards;
}
@keyframes letter3 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(4):before {
  content: "LSKDLWOANC";
  margin-top: -48px;
  animation-name: letter4;
  animation-duration: 1.0933333333s;
  animation-delay: 0.59s;
  animation-fill-mode: forwards;
}
@keyframes letter4 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(5):before {
  content: "POSXCHWKSM";
  margin-top: -144px;
  animation-name: letter5;
  animation-duration: 0.24s;
  animation-delay: 0.93s;
  animation-fill-mode: forwards;
}
@keyframes letter5 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(6):before {
  content: "WMDGTCHSEL";
  margin-top: -168px;
  animation-name: letter6;
  animation-duration: 1.75s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes letter6 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(7):before {
  content: "QWMDHKSODI";
  margin-top: -24px;
  animation-name: letter7;
  animation-duration: 1.74s;
  animation-delay: 0.13s;
  animation-fill-mode: forwards;
}
@keyframes letter7 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(8):before {
  content: "YDKSMXJSHD";
  margin-top: -72px;
  animation-name: letter8;
  animation-duration: 1.59s;
  animation-delay: 0.47s;
  animation-fill-mode: forwards;
}
@keyframes letter8 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(9):before {
  content: "UEKSMDJSHA";
  margin-top: 0px;
  animation-name: letter9;
  animation-duration: 0s;
  animation-delay: 0.58s;
  animation-fill-mode: forwards;
}
@keyframes letter9 {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(10):before {
  content: "MDKSIUXRBD";
  margin-top: -96px;
  animation-name: letter10;
  animation-duration: 0.96s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes letter10 {
  from {
    margin-top: -96px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(11):before {
  content: "KUDYXNDHSB";
  margin-top: -168px;
  animation-name: letter11;
  animation-duration: 1.89s;
  animation-delay: 0.46s;
  animation-fill-mode: forwards;
}
@keyframes letter11 {
  from {
    margin-top: -168px;
  }
  to {
    margin-top: 24px;
  }
}
.letter:nth-child(12):before {
  content: "PAOTRICA";
  margin-top: -144px;
  animation-name: letter12;
  animation-duration: 1.2685714286s;
  animation-delay: 0.63s;
  animation-fill-mode: forwards;
}
@keyframes letter12 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 24px;
  }
}


/*Menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

.overlay a {
  text-align: center;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  transition: 0.3s;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
  text-align: center;
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 28px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/*ABOUT*/
.about-me {
  
}

