@charset "UTF-8";

#wrapper{
	background-color:purple;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
    display:block;
}
audio, canvas, video{
    display:inline-block;
}
audio:not([controls]){
    display:none;
    height:0;
}[hidden]
template{display:none;}
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

/*links*/
a{
    background:0 0;
    color:inherit;
    text-decoration: none;
    outline: 0;
    /*what??*/
}

a:focus{
    /*click*/
    outline:0;
    text-decoration:underline;
}
a:active, a:hover{
    outline:thin;
}

header, nav section.nav-header{
    font-family: tej-font;
    padding: 2rem;
    overflow: hidden;
    transition: opacity .ls ease-in-out
    margin-bottom: -100px;
}

header h1,nav section.nav-header h1{
    margin:0;
    float:left;
}

header h1 img,nav section.nav-header h1 img{
    height:6.25rem;
    width:auto;
    transition:opacity .5s;
} /*check later*/

header .menu,nav section.nav-header .menu{
    transition:opacity .1s ease-in-out;
    float:right;font-size:6.25rem;
    line-heightx6.25rem;color:#f04;
    text-decoration:none;outline:0;
}


h1{
    margin:.67em 0;
    /*em was equal to the width of the capital. letter M, which is where its name originated*/
}

dfn{
    font-style: italic;
}

b,strong{
    font-weight: 600;
}

hr{
    /*line ???*/
    box-sizing:content-box;
    height:0;
}

mark{
    /*highlight CHANGE LATER*/
    background:#ff0;
    color:#000;
}

sub, sup{
    font size:50%;
    line-height: 0;
    position:relative;
    vertical-align: baseline;
}
sup{
    /*superscript*/
    top:-.5em;
}
sub{
    /*subscript*/
    bottom:-.25em;
}

img{
    border:0;
}


nav .nav_links .inner a{
    font-size: 4rem;
}

nav .navlinks .socials a{
    font-size: 3rem;
}

nav{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:fixed;
    max-height:0;
    overflow:hidden;
    transition:max-height .25s ease-in-out;
    background-color:rgba(0,0,0,.7);
}

nav section.nav-header{
    color:#fff;
    position:relative;
    z-index:1;
}

nav section.nav-header .menu{
    color:#fff;
    font-size:5rem;
    position:relative;
    left:-.4rem;
}

nav .nav-links{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

nav .nav-links .inner{
    text-align:center;
}

nav .nav-links .inner>a{
    display:block;
    font-size:3rem;
    line-height:1.3;
    color:#fff;
}

nav .nav-links .inner>a:hover{
    text-decoration:none;
    color:#c8c8c8;
}

nav .nav-links .inner>a:hover:after,nav .nav-links .inner>a:hover:before{
    content:'_';
}

.socials{
    display:inline-block;
    padding-top:1.5rem;
    white-space:nowrap;
    overflow:hidden;
    font-size:0;
}

.socials a{
    font-size:2.5rem;
    color:#fff;
    font-family:tej-font;
    display:block;
    float:left;
    margin:0 .3rem;
}

.socials a:first-child{
    margin-left:0;
}

.socials a:hover{
    text-decoration:none;color:#c8c8c8;
}

body .home .home-logo h1{
    display:none;
}

body .home .home-logo h1.phone{
    display:block;color:#fff;
}

body .home .home-logo span{
    display:none;
}

body .nav-showing nav{
    max-height:100%;
}
body .home.nav-showing .home-logo, body .nav-showing header .menu{
    opacity:0
}

#content{
	position:relative;
}

.slideshow {
	text-align: center;
	z-index:-1
	margin: 0 auto;;
}
  

#bigpic {
    position: relative;
    width: 1440px; 
    height: 789px; 
    left: 0px; 
    top: 0px;
}



